/*
DASHBOARD CSS
*/

.dashboard-bg {
    background-image: url("../img/home.JPG");
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: 20%;
    background-position-y: -200px;
    background-color: #D2D6DD;
    color: #fff;
}

.calendarHeader{
      border-bottom: 2px solid white;

}

.currentDate{
    text-align: left;


}

.year{
    float: right;


}

.upcomingEventsButton{
    background-color: #cdffe7;
    border-radius: 8px;
    border: none;
    margin-top: 10px;
}

.upcomingEventsButton:hover{
    background-color: #1bc47d;
    border-radius: 8px;
    border: none;
}

.upcomingEventsBox{
    background-color: white;
    color: black;
    margin-top: 5px;

}

.budgetReportButton{
    background-color: #cdffe7;
    border-radius: 8px;
    border: none;
}


.budgetReportButton:hover{
    background-color: #1bc47d;
    border-radius: 8px;
    border: none;
}

.budgetReportBox{
    background-color: white;
    color: black;
    margin-top: 5px;
}