{% extends 'base.html' %}
{% load static %}
{% block content %}

<link rel="stylesheet" href="{% static 'life/budget.css' %}" />
<script src="{% static 'life/budget.js' %}"></script>


{% for i in eventData.items %}
    {% for x in i %}    
        {{x}}
    {% endfor %}
{% endfor %}

{% if budgetData  %}
<div id="budget-wrapper">
    <h1>Select Year</h1>
    <div id="budget-content">
        {% for by in budgetYears %}
        <h2 onclick="showContentYear(this.textContent)">{{ by.name }}</h2>
        <div id="budget-year-{{ by.name }}" class="content-inactive">
            <div class="monthly-content">
                {% for key, v in budgetYearData.items %}
                    {% if key == by.name %}
                        {% for value in v %}
                        {{value.id.description}}
                        <h3 id="{{ value.description }}-{{ by.name }}" onclick="showContentMonth(this)">{{ value.description }}</h3>
                        <div id="{{ value.description }}-{{ by.name }}-content" class="content-inactive">
                            <table id="{{ value.description }}-{{ by.name }}-table" class="table table-dark">
                                <thead>
                                    <tr>
                                        <th>Budget Name</th>
                                        <th>Planned</th>
                                        <th>Actual</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for mData in budgetMonthData %}
                                        {% if mData.account.id == value.id %}
                                            <tr>
                                                <td>{{mData.name}}</td>
                                                <td>{{mData.expense}}</td>
                                                <td>0</td>
                                            </tr>
                                        {% endif %}
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        {% endfor v %}
                    {% endif  %}   
                {% endfor budgetYearData %}     
            </div>
        </div>
        {% endfor budgetYear %} 
    </div>
</div>
{% endif %}

{% endblock content %}