{% extends 'base.html' %} {% load static %}
<!DOCTYPE html>
<html lang="en">
    <!--INSERT HTML FOR DASHBOARD HERE-->
    <head>
        <meta charset="utf-8">
    </head>

    {% block content %}
    <body>

     <!--Calendar Header-->
    <div class="calendarHeader">
        <span id="currentDate" class="currentDate">date</span>

        <span id="year" class="year">year</span>

    </div>

     <div style="clear: both;"></div>


     <script>
          var today = new Date();
          var year = today.getFullYear();
          var month = today.getMonth();
          var day = today.getDate();
          var monthsInText = ["JAN", "FEB", "MAR", "APR", "MAY", "JUN", "JUL", "AUG", "SEP", "OCT", "NOV", "DEC"];
          var selectedMonth = monthsInText[month];
          document.getElementById("year").innerHTML = year;
          document.getElementById("currentDate").innerHTML = selectedMonth + " " + day;
     </script>

    <!--Events-->
    <div>
        <!--Need to update with calendarFt post pull-->
        <button  href="http://127.0.0.1:8000/home/" class="upcomingEventsButton" >Upcoming Events</button>

    </div>




     <div class="upcomingEventsBox">
            <p>Implement Calendar Here</p>
     </div>




    <!--Budgets-->
    <div>
        <button href="http://127.0.0.1:8000/finance/" class="budgetReportButton">Budget Report</button>
    </div>

    <div class="budgetReportBox">
            <p>Implement Budget Here</p>
     </div>


    </body>




    {% endblock content %}


</html>