{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>404 ERROR</title>
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'css/error_404.css' %}">
        <link rel="shortcut icon" type="image/png" href="{% static 'img/favicon.png' %}"/>
    </head>
    <body>
        <div class="gif">
            <img src="https://media.giphy.com/media/hEc4k5pN17GZq/giphy.gif" class="gif" alt="404_john">
        </div>
        <div class="error">
            <p>Oops! 404 Error</p>
        </div>
        <div class="error-2">
            <p>The requested site could not be found.</p>
            <p>If you feel this is an error, contact us below.</p>
        </div>
       <div class=" text-center button">
        <a class="btn btn-primary pull-right" href="{% url 'index' %}" role="button">Home</a>
        <a class="btn btn-primary pull-right" href="{% url 'faq' %}" role="button">FAQ</a>
        <a class="btn btn-primary pull-right" href="https://github.com/BSkrockii/GetALife/issues" role="button">Contact</a>
       </div>
    </body>
</html>