{% extends 'base.html' %}
{% load static %}
{% block title %}GetALife{% endblock %}
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>GetALife</title>
        <link rel="shortcut icon" type="image/png" href="{% static 'img/favicon.png' %}"/>
    </head>
    {% block content %}
    <body>
        
        <nav class="nav justify-content-end">
            <a class="nav-link text-light" href="{% url 'login' %}">SIGN IN</a>
            <a class="nav-link text-light" href="{% url 'register' %}">SIGN UP</a>
            <a class="nav-link text-light" href="#FAQ">FAQ</a>
        </nav>

        <div class="container">

            <div class="text-light text-nowrap text-center">
                <a class="mainH">LIFE GOES ON</a>
            </div> 
            <div class="text-light text-nowrap text-center">
                    <p class="underH">we can make it smoother</p>
            </div>
            <div class="nextpage text-center">
                <a style="text-decoration:none" href="{% url 'register' %}"><button type="button" class="btn btn-light btn-lg btn-block text-white">Try Now</button></a>
            </div>
            
        </div>
        
    </body>
    {% endblock content%}
</html> 