{% load static %}
{% block tittle %}{% endblock %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>GetALife</title>
        <link rel="shortcut icon" type="image/png" href="{% static 'img/favicon.png' %}"/>
        <link rel="stylesheet" href="{% static 'css/index.css' %}">
    </head>
    <body id="bg" style="background-image: url('{% static "img/LBG.jpg" %}'  )">
        {% block content %}
        <div class="topnav" id="myTopnav">
            <a href="{% url 'login' %}">SIGN IN</a>
            <a href="#ABOUT">ABOUT</a>
            <a href="#FAQ">FAQ</a>
            </a>
          </div>
        <div class="mainH">
            <h1>LIFE GOES ON</h1>
        </div>
        <div class="underH">
            <h2>we can make it smoother</h2>
        </div>
        <div>
            <a href="{% url 'login' %}" class="trybtn">Try It Now</a>
        </div>
        {% endblock content%}
    </body>
</html>