{% load static %}
{% block tittle %}{% endblock %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>GetALife</title>
        <link rel="shortcut icon" type="image/png" href="{% static 'img/favicon.png' %}"/>
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'css/index.css' %}">
    </head>
    <body id="bg" style="background-image: url('{% static "img/LBG.jpg" %}')">
        {% block content %}
        <nav class="nav justify-content-end">
            <a class="nav-link active text-light" href="{% url 'login' %}">SIGN IN</a>
            <a class="nav-link text-light" href="#ABOUT">ABOUT</a>
            <a class="nav-link text-light" href="#FAQ">FAQ</a>
        </nav>  
        <div class="container">
            <div class="text-light text-nowrap text-center">
                <a class="mainH">LIFE GOES ON</a>
            </div> 
        </div>
        <div class="container">
            <div class="text-light text-nowrap text-center">
                    <p class="underH">we can make it smoother</p>
            </div>
        </div>
        <div class="container">
            <div class="text-center">
                <a href="{% url 'login' %}" ><button type="button" class="btn btn-light btn-lg btn-block text-white">Try Now</button></a>
            </div>
        </div>
        {% endblock content%}
    </body>
</html>