{% extends 'base.html' %}
{% load static %}
<html lang="en">
    <head>
        <meta charset="utf-8">
        <link rel="shortcut icon" type="image/png" href="{% static 'img/favicon.png' %}"/>
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'css/login.css' %}">
    </head>
    {% block content %}
    <body>
        <nav class="nav justify-content-end">
            <a class="nav-link text-light" href="{% url 'index' %}">SIGN OUT</a>
        </nav> 
        <div class="container">
            <div class="text-center text-nowrap">
                <a class="mainH"><h1>Welcome Back</h1></a>
            </div>
        </div>
        <div class="container">
            <form method="POST">
                {% csrf_token %}
                <div class="topuser text-nowrap">
                    <a class="username"><input type="text" name="username" placeholder="username"><br></a>
                </div>
                <div class="toppassword">
                    <input type="password" name="password" placeholder="password"><br>
                </div>
                <div class="btn-submit text-center">
                    <input type="submit">
                </div>
            </form>
        </div>
        
    </body>
    {% endblock content %}
</html>