{% extends 'base.html' %}
{% load static %}
<html lang="en">

<head>
    <meta charset="utf-8">
    <!-- asset/img path -->
    <link rel="shortcut icon" type="image/png" href="{% static 'img/favicon.png' %}" />
</head>
{% block content %}

<body class="register-bg">
    <script type="text/javascript" src="{% static 'life/register.js' %}"></script>

    <!-- top navigation bar, link pages -->
    <nav class="nav justify-content-end">
        <a class="nav-link text-light" href="{% url 'index' %}">BACK</a>
    </nav>

    <!-- container for main form body -->
    <div class="container">
        <div class="block-register">
            <div class="main-register text-center">
                <h1 class="display-4 text-nowrap">Register Your Account</h1>
            </div>
            <div class="desc-register text-center">
                <h2 class="filler">Please fill in this form to create an account</h2>
            </div>

            <form method="POST">
                {% csrf_token %}

                <!-- username block for user to fill in -->
                <div class="topuser text-nowrap">
                    <div class="user-register" style="text-align: left">
                        <label for="user"><b>Username*</b></label>
                    </div>
                    <a onfocusout="checkUsername()" class="email"><input id="username" type="text" name="username" {% if username %} value={{ username }} {% else %} placeholder="username" {% endif %}>
                        <b id="checkUser" style="color: black;"></b><br></a>
                </div>       

                <!-- email block for user to fill in -->
                <div class="topuser text-nowrap">
                    <div class="user-register" style="text-align: left">
                        <label for="user"><b>Email*</b></label>
                    </div>
                    <a class="email"><input type="text" name="email" {% if email %} value={{ email }} {% else %} placeholder="email" {% endif %}><br></a>
                </div>
                
                <!-- password block for user to fill in -->
                <div class="toppassword">
                    <div class="password-register" style="text-align: left">
                        <label for="password"><b>Password</b></label>
                    </div>
                    <input id="password" type="password" name="password" placeholder="password">
                    <img style="width: 24px; height: 24px; cursor: pointer;" src="{% static 'life/view.png' %}" onmousedown="mouseoverDown();" onmouseup="mouseoutUp();"/><br>
                </div>

                <!-- repeating password input for auth -->
                <div class="passrepeat">
                    <div class="repeat-register" style="text-align: left">
                        <label for="passrepeat"><b>Re-Enter Password</b></label>
                    </div>
                    <input id="passrepeat" type="password" name="passrepeat" placeholder="password">
                    <img style="width: 24px; height: 24px; cursor: pointer;" src="{% static 'life/view.png' %}" onmousedown="mouseoverDownPassRepear();" onmouseup="mouseoutUpPassRepeat();" /><br>
                </div>

                {% if messages %}
                {% for message in messages %}
                <div class="alert alert-danger" role='alert'>
                    {{message}}
                </div>
                {% endfor %}
                {% endif %}


                <!-- auth button for form, send credential -->
                <div class="btn-submit2 text-center">
                    <input class="btn2 btn-light btn-lg btn-block text-white" type="submit">
                </div>

            </form>
        </div>

    </div>


    </div>
</body>
{% endblock content %}

</html>