{% extends 'base.html' %}
{% load static %}
<html lang="en">
    <head>
        <meta charset="utf-8">
        <!-- asset/img path -->
        <link rel="shortcut icon" type="image/png" href="{% static 'img/favicon.png' %}"/>
    </head>
    {% block content %}
    <body>
        <!-- top navigation bar, link pages -->
        <nav class="nav justify-content-end">
            <a class="nav-link text-light" href="{% url 'index' %}">HOME</a>
        </nav> 

        <!-- container for main form body -->
        <div class="container">

            <div class="mainH text-center">
                <h1 class="display-4">Register Your Account</h1>
            </div>
            <div class="desc text-center">
                <h2 class="filler">Please fill in this form to create an account</h2>
            </div>

            <form method="POST">
                {% csrf_token %}

                    <!-- email block for user to fill in -->
                <div class="topuser text-nowrap"> 
                    <div class="userH" style="text-align: left">
                        <label for="user"><b>Email</b></label>
                    </div>
                    <a class="email"><input type="text" name="email" placeholder="email"><br></a>
                </div>

                    <!-- password block for user to fill in -->
                <div class="toppassword">
                    <div class="passwordH" style="text-align: left">
                        <label for="password"><b>Password</b></label>
                    </div>
                    <input type="password" name="password" placeholder="password"><br>
                </div>

                    <!-- repeating password input for auth -->
                <div class="passrepeat">
                    <div class="repeatH" style="text-align: left">
                        <label for="passrepeat"><b>Re-Enter Password</b></label>
                    </div>
                    <input type="password" name="password" placeholder="password"><br>
                </div>

                    <!-- auth button for form, send credential -->
                <div class="btn-submit text-center">
                    <input class="btn btn-light btn-lg btn-block text-white" type="submit">
                </div>

            </form>
                 
        </div>
    </body>
    {% endblock content %}
</html>